/*footer*/
/*--------------------------------------------*/
.pie {
    width: 100%;
    background-color: $keyColor;
    /*display flex*/
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    .pie a {
        text-decoration: none;
    }
}

.pieIconYouTube {
    /*size*/
    width: 50px;
    margin: 0 10px;
    color: $secondaryColor;
    &:hover{
        color: red;
    }
}
.pieIconFace {
    /*size*/
    width: 50px;
    margin: 0 10px;
    color: $secondaryColor;
    &:hover{
        color: blue;
    }
}
/*--------------------------------------------*/