
/*encabezado*/
.encabezado nav a img {
  width: 130px;
}

#botonera {
  background-color: #1e1e1e;
  font-size: 1.8rem;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

#submenu {
  background-color: #1e1e1e;
  font-size: 1.6rem;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

.encabezadoImg {
  width: 100%;
}
